$action-panel:          100;
$header-layer:          150;
  $navigation:          10;
  $burger:              20;
$popup-layer:           200;
$droplist-layer:        10;
$wizard-layer:          90;
$wizard-layer-mobile:   110;
$overlay:               80;
$popup-close:           20;
$popup-result:          15;