$phone-from:        300px;
$phone-to:          599px;
$tablet-portrait:   600px;
$tablet-landscape:  960px;
$desktop:           1280px;
$big-desktop:       1600px;

$wrapper:           1180px;

$bd-radius:         4px;
$big-bd-radius:     6px;

$cards-bdrs: $big-bd-radius;

$wrapper-width:     1280px;
//$desktop-header:    74px;
//$mobile-header:     65px;
