.row {
  display: flex;
  //align-items: center;
  flex-wrap: wrap;

  margin-left: -32px;
  margin-right: -32px;

  @include for-tablet-landscape-up {
    flex-wrap: nowrap;
  }
}

.column {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  flex-basis: 100%;

  padding-left: 32px;
  padding-right: 32px;

  @include for-tablet-portrait-up {
    width: 0;
  }
}
