.arrow {
  position: relative;

  align-self: center;

  width: 100%;
  height: 2px;

  background-color: $gray;

  &:after {
    @include pseudo-elem;
    @include svgBackground($arrow);

    z-index:  1;
    top: calc(50% - 8px);
    right: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;

    width: 8px;
    height: 16px;
  }
}