.checkbox {
    display: none;
}

.checkbox-label {
  display: inline-flex;

  cursor: pointer;

  font-size: 15px;

  &:before {
    content:'';
    display: inline-block;

    flex-shrink: 0;

    width: 14px;
    height: 14px;

    margin-right: 10px;
    margin-top: 3px;

    box-shadow: 0 0 0 2px #cccccc;
  }

  .checkbox:checked + &:before{
    box-shadow: 0 0 0 2px $green;

    background-image: url('images/check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
