mixin accordion (object)
    .accordion.js-accordion
        button.accordion__head.js-accordion-head
            span.accordion__title #{object.title}

        .accordion__body.js-accordion-body
            p #{object.text}
